.slider-container .slick-dots {
  display: none !important;
}
.slider-container .slick-arrow .slick-next,
.slider-container .slick-arrow .slick-prev {
  display: none !important;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.slick-slider .slick-dots {
  display: none !important;
}
.user-container {
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #be1529;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  line-height: 1.25rem;
}

.user-info .icon {
  font-size: 25px;
}

.user-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 100%;
  left: 0;
  margin-top: 0.5rem;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  color: black;
  z-index: 9999;
}

.user-container:hover .user-menu {
  opacity: 1;
  visibility: visible;
}
.slider-product .slick-slider .slick-prev {
  background-color: rgb(208, 208, 208);
  left: 0px !important;
  z-index: 9999 !important;
  width: 25px !important;
  height: 40px !important;
}
.slider-product .slick-slider .slick-next {
  background-color: rgb(208, 208, 208);
  right: 0px !important;
  z-index: 9999 !important;
  width: 25px !important;
  height: 40px !important;
}
