.heroWrap {
  padding-top: 35%;
  background: url("/images/payment-manual-bg.jpg") no-repeat center center /
    cover;
  margin-top: -16px;
  position: relative;

  @media (max-width: 768px) {
    padding-top: 50%;
    margin-top: 0;
  }
}
